.btn {
  outline: none;

  &:active {
    box-shadow: none;
  }
}

.btn--done {
  display: block;
  width: 240px;
  height: 70px;
  padding: 0;
  margin: 0 auto;

  font-size: 24px;
  color: #5d6575;
  text-transform: uppercase;
  cursor: pointer;

  background-color: #fff;
  border: 2px solid #bdc3c7;
  border-radius: 3px;

  &:active {
    color: #fff;

    background-color: #bdc3c7;
    border-color: #bdc3c7;
  }
}

.btn--more {
  padding: 16px;

  font-size: 18px;
  line-height: 24px;
  color: #4b5262;

  background: #fff;
  border: solid 2px #c3c3c3;
  border-radius: 4px;

  &:active {
    color: #fff;

    background-color: #bdc3c7;
    border-color: #bdc3c7;
  }
}

