/* Main Colors */
$color-white: #fff;
$color-snow: #f1f1f1;
$color-black: #000;

/* Frame Border Color */
$color-steelgrey: #e2e2e2;

/* Icon Username Color */
$color-icongrey: #858989;

/* Control Tab Background Color */
$color-darkgrey: #23282e;

/* Control Tab Border Color */
$color-outlinegrey: #909292;

/* Button Remove Color */
$color-red: #d91720;

/* Button Checkout Color */
$color-green: #1cb841;

/* Button Clear Color */
$color-pureplatinum: #eee;
$color-cleargrey: #d3d3d3;

$color-whitesmoke: #f5f5f5;

/* Total Price Color */
$color-totalgrey: #a9a9a9;

/* Modal Window Background Color */
$color-bg-modal: #f8f7f4;
$color-closeblack: #131313;
