/* Main Colors */
$color-snow: #f1f1f1;

/* Control Tab Background Color */
$color-darkgrey: #23282e;

/* Control Tab Border Color */
$color-outlinegrey: #909292;

/* Button Clear Color */
$color-pureplatinum: #eee;
$color-cleargrey: #d3d3d3;

/* Modal Window Background Color */
$color-bg-modal: #f8f7f4;
$color-closeblack: #131313;
