// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: $font-stack-avenir;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.2;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$paddings: 3px;

// Colors
$black: #000;
$dark-gray: #cecece;
$medium-gray: #999;
$light-gray: #e0e0e0;
$white: #fff;

$dark-blue: #2a99d6;
$blue: #3498db;
$dark-green: #008329;
$green: #47be00;
$red: #d50000;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $dark-blue;
$link-color: $green;
$link-color--action: $dark-green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $white;
$secondary-background-color: tint($base-border-color, 75%);
