@mixin flex-container(
    $direction: row,
    $spacing: space-between,
    $alignment: null
  ) {

  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  align-items: $alignment;
}
