.form {
  max-width: 820px;
  margin: 0 auto;
}

.form__row {
  margin-bottom: 10px;

  &--image {
    margin-bottom: 0;
  }

  &--button {
    position: absolute;
    bottom: 25px;

    width: 100%;
    margin-bottom: 0;
  }
}

.form__image {
  display: block;
  padding: 30px 0;

  img {
    display: block;
    margin: 0 auto;

    border: 1px solid #c9c7c8;
    border-radius: 50%;
  }
}

.form__input {
  position: relative;

  float: left;
  width: 49%;
  margin-bottom: 20px;

  &:nth-child(2n) {
    float: right;
  }

  &:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.form__field {
  z-index: 10;

  height: 50px;
  padding: 0 50px 0 10px;

  color: $color-black;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  margin: 0;

  font-size: 18px;

  border: solid 1px #b0b6bc;
  border-radius: 4px;
  outline: none;

  box-sizing: border-box;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  border-color: #2a99d6;
}

input[type="text"] + .clear-button,
input[type="email"] + .clear-button,
input[type="tel"] + .clear-button {
  position: absolute;
  right: 10px;
  bottom: 9px;
  z-index: 14;

  display: none;
  width: 32px;
  height: 32px;
  margin-top: -16px;

  cursor: pointer;

  background: url(../img/clear-button.png) center center no-repeat;
}


input[type="text"]:focus + .clear-button,
input[type="tel"]:focus + .clear-button,
input[type="email"]:focus + .clear-button {
  display: block;
}
