.guests-list {
  padding-top: 20px;
  width: 92%;
  margin: 0 4%;

  background-color: transparent;
}

.more-results {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 85px;

  text-align: center;
}
