table {
  width: 100%;

  background-color: transparent;
  border-collapse: collapse;
}

.guests-list {
  padding-top: 20px;
  width: 92%;
  margin: 0 4%;

  background-color: transparent;

  thead {
    border-bottom: solid 2px #bdc3c7;
  }

  th,
  td {
    padding-right: 5px;

    &:last-child {
      padding-right: 0;

      text-align: right;
    }
  }

  th {
    font-size: 14px;
    font-weight: normal;
    line-height: 3em;
    color: $color-white;
    text-transform: uppercase;
  }

  th > span {
    display: block;

    line-height: 3em;
    color: #3498db;

    background-color: transparent;
  }

  td {
    height: 3em;

    text-align: left;
    vertical-align: middle;

    border-bottom: solid 1px #c2c7d0;

    span:last-child {
      width: 14px;
    }

    &:first-child {

      span {
        display: inline-block;
        max-width: 300px;
        overflow: hidden;

        text-overflow: ellipsis;
      }
    }
  }

  td.long-string {
    max-width: 160px;

    word-break: break-all;
  }
}

.open-order {
  display: block;
  width: 40px;
  height: 32px;

  color: #4b5262;

  background: url(../img/menu.png) center 2px no-repeat transparent;
}

.more-results {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 80px;

  text-align: center;
}
