.guest-details__title {
  margin-top: 0;

  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

.guest__name {
  display: inline-block;
  margin-right: 20px;
}

.guest__surname {
  display: inline-block;
}

.guest__header {
  width: 92%;
  min-width: 800px;
  padding: 30px 0;
  margin: 0 auto;
  overflow: hidden;

  font-size: 16px;
}

.guest__row {
  margin-bottom: 0;

  &:after {
    display: table;
    clear: both;

    content: "";
  }
}

.guest__column {
  display: block;
  float: left;
  margin-right: 40px;

  &:last-child {
    float: right;
    margin-right: 0;
  }
}

.guest__image {
  display: block;

  img {
    display: block;
    width: 150px;
    height: 150px;

    border: 1px solid #c9c7c8;
    border-radius: 50%;
  }
}

.guest__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.guest__item {

  &:last-child {
    margin-bottom: 0;
  }

  span {
    line-height: 30px;
  }

  span:first-child {
    display: inline-block;
    margin-right: 10px;
  }
}

.guest__label {
  color: $color-blue;
}

.guest__label1 {
  width: 80px;

  color: $color-blue;
}

.guest__link {
  padding-top: 5px;
}

.edit-link {
  display: inline-block;
  padding: 0;

  line-height: 1.2;
  color: $color-blue;
  text-decoration: none;
  cursor: pointer;

  border-bottom: 1px solid rgba( $color-blue, 0.2 );

  &:hover,
  &:focus,
  &:visited {
    color: $color-blue;
    text-decoration: none;
  }
}

.order-history__wrapper {
  width: 92%;
  min-width: 800px;
  margin: 0 auto;
  overflow: hidden;

  font-size: 16px;
}

.order-history__title {
  font-size: 18px;
  font-weight: 500;

  margin-top: 0;
  margin-bottom: 7px;
}

.glyphicon {
  width: 50px;
  margin: 0 auto;
  font-size: 20px;
  top: 3px;
}
