/* Order Control Buttons */

.order-control {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.btn--clear {
  width: 26%;
  padding: 0;

  font-size: 30px;

  color: $color-pureplatinum;
  background-color: $color-cleargrey;

  &:hover,
  &:focus,
  &:visited {
    color: $color-pureplatinum;
    background-color: $color-cleargrey;
  }
}

.glyphicon-ban-circle {
  top: 8px;
}

.btn--checkout {
  width: 70%;
  padding: 14px 0;

  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: $white;
  background-color: $green;

  &:hover,
  &:focus,
  &:visited {
    color: $white;
    background-color: $green;
  }
}
