.order__content {
  width: 80%;
  padding-top: 0;
  margin: 0 10%;

  background-color: transparent;
}

.order__header {
  width: 80%;
  min-width: 800px;
  padding-top: 25px;
  padding-bottom: 20px;
  margin: 0 auto;
  overflow: hidden;

  font-size: 16px;
}

.order__row {
  margin-bottom: 0;

  &:after {
    display: table;
    clear: both;

    content: "";
  }
}

.order__column {
  display: block;

  float: left;
  width: 34%;

  vertical-align: top;

  &:first-child {
    width: 40%;
  }

  &:last-child {
    width: 26%;

    span:first-child {
      width: 55%;
    }

    span + span {
      float: right;
    }
  }
}

.order__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.order__item {
  margin-bottom: 5px;

  span {
    line-height: 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  span:first-child {
    display: inline-block;
    width: 120px;
    margin: 0;
  }
}
