.order__button {
  float: right;

  .btn {
    width: 155px;
    padding: 8px 10px;
    text-align: center;
  }
}

.order__tags {
  display: block;
  float: left;

  font-size: 0;
}

.order__tags {
  padding: 10px 0;
}

.order__comments {
  display: block;
  float: left;
}

.tags__title,
.comments__title {
  display: inline-block;
  width: 120px;
  font-size: 16px;
  vertical-align: top;
  margin: 0;
}

.order__link {
  display: block;
  float: right;
  padding-top: 13px;
}

.order__comments {
  font-size: 0;

  p {
    display: inline-block;
    width: calc(100% - 120px);
    padding-left: 4px;
    margin-bottom: 0;

    font-size: 16px;
    word-wrap: break-word;
    vertical-align: top;
  }
}

.tags {
  display: inline-block;
  font-size: 0;
}

.tags__item {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 0 10px 10px;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1;
  color: #494949;
  cursor: default;

  background-color: #e0e0e0;
  border-radius: 4px;

  &:first-child {
    margin-left: 5px;
  }
}
