table {
  width: 100%;

  background-color: transparent;
  border-collapse: collapse;

  thead {
    border-bottom: solid 2px $color-headgrey;
  }

  tr {
    cursor: pointer;
  }

  th,
  td {
    padding-right: 5px;

    &:last-child {
      padding-right: 0;

      text-align: right;
    }
  }

  th {
    font-size: 14px;
    font-weight: 400;
    line-height: 3em;
    color: $color-blue;
    text-transform: uppercase;
  }

  th > span {
    display: block;

    line-height: 3em;
    color: $color-blue;

    background-color: transparent;
  }

  td {
    height: 3em;

    text-align: left;
    vertical-align: middle;

    border-bottom: solid 1px $color-lightgrey;

    span:last-child {
      width: 14px;

      vertical-align: middle;
    }


    &:first-child {

      span {
        max-width: 300px;
        overflow: hidden;

        text-overflow: ellipsis;
      }
    }
  }

  td.long-string {
    max-width: 160px;

    word-break: break-all;
  }
}

.open-order {
  display: block;
  width: 40px;
  height: 32px;

  color: #4b5262;

  background: url(../img/menu.png) center 2px no-repeat transparent;
}
