.avatar {
  width: 34px;
  height: 34px;
  margin-right: 10px;

  vertical-align: middle;

  border: $base-border;
  border-radius: 50%;
}

table .avatar {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
