.bill {
  padding: 20px 25px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;

  background-color: $base-background-color;
  border: $base-border;
  border-radius: 0;

  box-shadow: 0 0 3px #dfdfdf;
}

.bill__wrapper {
  width: 35%;
  padding-top: 25px;
  margin: 0 auto;
}

.bill__header {
  padding: 0;
  padding-bottom: 10px;

  vertical-align: middle;
}

.bill__title {
  @include flex-container($spacing: flex-start);

  line-height: 30px;

  span:first-child {
    margin-right: 10px;
  }
}

.bill__list {
  height: 200px;
  padding-bottom: 63px;
  margin-bottom: 77px;

  background-color: $base-background-color;
  background-image: linear-gradient(to right, #e2e2e2 30%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-repeat: repeat-x;
  background-size: 10px 2px;
}

.bill__item {
  @include flex-container($alignment: center);

  padding: 5px 0;

  &:first-child {
    padding-top: 20px;
  }
}

.bill__title {
  flex-grow: 1;
  width: 85%;
  margin-right: 10px;
}

.bill__quantity {
  width: 40px;

  text-align: left;
}

.bill__price {
  width: 65px;
  margin-left: 10px;

  font-weight: 600;
  text-align: right;

  &--total {
    width: auto;

    font-size: 36px;
    font-weight: 700;
    line-height: 1;
  }

  &--discount {
    padding: 5px 0;
  }
}

.bill__subtotal {
  width: 100%;

  background-color: $base-background-color;
  background-image: linear-gradient(to right, #e2e2e2 30%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 10px 2px;
  background-repeat: repeat-x;

  .bill__item {
    padding: 0;
  }

  .bill__item:first-child {
    padding-top: 15px;
  }

  .bill__item:last-child {
    padding-bottom: 10px;
  }
}

.bill__total {
  @include flex-container($alignment: flex-end);

  width: 100%;
  padding: 20px 0;
  padding-bottom: 10px;

  background-color: $base-background-color;
  background-image: linear-gradient(to right, #e2e2e2 30%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 10px 2px;
  background-repeat: repeat-x;
}

.bill__text {
  padding-bottom: 3px;

  font-size: 20px;
  line-height: 1;

  color: $total-gray;
}
