.bill {
  width: 360px;
  padding: 20px 25px;
  padding-bottom: 30px;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;

  background-color: $base-background-color;
  border: $base-border;
  border-radius: 0;

  box-shadow: 0 0 3px #dfdfdf;
}

.bill__header {
  padding: 0;
  padding-bottom: 10px;

  vertical-align: middle;
}

.bill__content {
  @include dotted-border($light-gray, 10px);

  padding-top: 20px;
}

.bill__guest-description {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin: 0;
  padding-top: 13px;

  p {
    flex-grow: 1;
  }
}

.bill__title {
  @include flex-container($spacing: flex-start);

  line-height: 30px;

  span:first-child {
    margin-right: 10px;
  }
}

.bill__list {
  height: 200px;
  padding-bottom: 63px;
  margin-bottom: 77px;
}

.bill__item {
  @include flex-container($alignment: center);

  padding-bottom: 10px;
  margin: 0;
}

.bill__title {
  flex-grow: 1;
  width: 85%;
  margin-right: 10px;
}

.bill__quantity {
  width: 40px;

  text-align: left;
}

.bill__price {
  width: 65px;
  margin-left: 10px;

  font-weight: 600;
  text-align: right;

  &--total {
    width: auto;
    margin-left: 0;

    font-size: 36px;
    font-weight: 700;
    line-height: 1;
  }

  &--discount {
    padding: 5px 0;
  }
}

.bill__footer {
  @include dotted-border($light-gray, 10px);

  padding-top: 15px;

}

.bill__subtotal {
  @include flex-container($direction: column);

  padding-bottom: 10px;
}

.bill__total {
  @include dotted-border($light-gray, 10px);

  padding-top: 20px;
}

.bill__text {
  padding-bottom: 3px;

  font-size: 20px;
  line-height: 1;

  color: $total-gray;
}
