.details {
  padding: 25px 0;

  &--guest {
    padding: 30px 0;
  }
}

.details__row {
  @include flex-container();

  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.details__column {
  flex: 1;
}

.details__column--order .details__item strong {
  width: 90px;
}

.details__column--guest .details__item {
  margin-bottom: 13px;

  &:nth-child(1n + 2) strong {
    width: 90px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.details__list {
}

.details__item {
  @include flex-container($spacing: flex-start);

  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 5px;
  }

  strong {
    width: 120px;
    margin-right: 5px;
  }
}

.details__lable {
  width: 120px;
  margin-right: 5px;
}

.details__tags {
  @include flex-container($spacing: flex-start);

  flex-wrap: wrap;
  width: calc(100% - 240px);
}

.details__tags-item {
  padding: 5px 10px;
  margin: 0 10px 8px 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: $black;
  cursor: default;

  background-color: $light-gray;
  border-radius: 4px;

  &:hover,
  &:focus,
  &:active {
    background-color: $link-color--action;
    color: $white;
    text-decoration: none;
  }
}

.details__link {
  padding-top: 2px;

  &--guest {
    padding: 0;
  }
}

.details__text {
  width: calc(100% - 120px);

  p {
    margin: 0;

    font-size: 16px;
    word-wrap: break-word;
    vertical-align: top;
  }
}

.details__image {
  margin-right: 50px;
}

.details__avatar {
  width: 152px;
  height: 152px;

  border: 1px solid #c9c7c8;
  border-radius: 50%;
}

.details__name {
  @include flex-container();

  margin-right: 20px;

  strong {
    width: auto;
    margin-right: 10px;
  }
}

.details__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 1.2;
}
