.filter {
  @include flex-container();

  margin-top: 20px;
  margin-bottom: 25px;
}

.filter__item {
  @include flex-container($alignment: center);

  min-width: 95px;
}

.filter__title {
  margin: 0;
  margin-right: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.filter__type {
  cursor: pointer;

  border: 0;
  outline: none;
}

.filter__type select {
  height: 35px;
  padding: 0 10px;
  padding-right: 20px;
  margin-bottom: 0;

  font-size: 16px;
  color: $black;
  cursor: pointer;

  background-color: $whitesmoke;
  background-image: url(../img/drop-down.png);
  background-position: 95% center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: $base-border;
  border-radius: 3px;
  outline: none;

  appearance: none;
}
