.row {
  padding-top: 20px;
  margin: 0 10px;
}

.guest-ammount {
  margin-left: 20px;
}

.guest {
  max-width: 360px;
  padding: 10px 0;
  padding-bottom: 20px;
  margin: 0 auto;

  text-align: center;

  background-color: $base-background-color;
  border: $base-border;
  border-radius: 0;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
