.status-not-added {
  color: $medium-gray;
}

.status-added {
  color: $green;
}

.open-order {
  display: block;
  width: 40px;
  height: 32px;

  background: url(../img/menu.png) center 2px no-repeat transparent;
}

.icon-remove {
  position: absolute;
  top: 1px;
  left: 2px;

  color: $red;

  cursor: pointer;
}

.icon-chevron {
  padding: 11px 8px 11px 20px;

  font-size: 18px;
  line-height: 40px;
  color: $blue;

  border-left: $base-border;
}

.icon-chevron-menu {
  margin-left: 5px;

  font-size: 14px;
}

.icon-clear {
  position: absolute;
  top: 9px;
  left: 50%;

  transform: translate(-50%, 0);
}

.icon-save {
  position: absolute;
  top: 9px;
  left: 50%;

  transform: translate(-50%, 0);
}

.icon-check {
  font-size: 18px;
}
