.status-not-added {
  color: $dark-gray;
}

.status-added {
  color: $green;
}

.open-order {
  display: block;
  width: 40px;
  height: 32px;

  background: url(../img/menu.png) center 2px no-repeat transparent;
}

.icon-remove {
  position: absolute;
  top: 1px;
  left: 2px;

  color: $red;

  cursor: pointer;
}
