.order-item {
  @include flex-container($alignment: flex-start);

  padding: 20px 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  vertical-align: middle;

  border-bottom: $base-border;

  list-style: none;
}

.order-item__title {
  flex-grow: 1;
  width: 75%;
  padding-right: 10px;
}

.order-item__quantity {
  width: 40px;

  text-align: left;
}

.order-item__price {
  width: 75px;
  padding-left: 10px;

  font-weight: 600;
  text-align: right;
}
