.pages {
  width: 700px;
  padding: 50px 40px;
  margin: 0 auto;
}

.pages__title {
  margin: 0 0 15px 0;

  font-family: "Basis Grotesque Pro Bold", "Helvetica Neue", Arial, Droid, sans-serif;
  font-size: 19px;
  line-height: 25px;
}

.pages__list {
  padding: 0;
  margin: 0 0 0 35px;
}

.pages__item {
  padding: 0;
  margin: 0 0 5px 0;
}
