.header {
  padding: 20px 0;

  background: $color-white;
  border-bottom: 1px solid $color-steelgrey;
  line-height: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
  padding-right: 30px;
}

/* Username */

.user {
  cursor: pointer;

  flex-grow: 1;

  z-index: 5;
}

.user__icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;

  line-height: 30px;
  color: $color-icongrey;
  text-align: center;

  background-color: $color-white;
  border: 2px solid $color-icongrey;
  border-radius: 15px;
}

.glyphicon-user {
  top: 0;
}

.user__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: $color-black;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:visited {
    color: $color-black;
    text-decoration: none;
  }
}

/* Logo */

.logo {
  position: absolute;
  left: 0;

  display: flex;
  justify-content: center;
  width: 100%;
}

.logo__link {
  margin-top: 4px;
}

/* Menu */

.menu {
  display: none;
}

/* Header Cancel */

.header__cancel {
  position: absolute;
  top: 12px;

  padding: 10px 20px;

  color: $color-white;
  cursor: pointer;

  background: transparent;
  border: 0;
  border-radius: 4px;

  .glyphicon {
    width: 20px;
  }

  .glyphicon-chevron-left {
    top: 1px;
    left: 4px;
    font-size: 16px;
    color: $color-black;
  }
}

/* Header Text */

.header__text {
  display: flex;
  justify-content: center;
  width: 100%;

  h1 {
    margin: 0;
    font-size: 26px;
    line-height: 30px;
  }
}

.header__link {
  margin-top: 3px;

  font-size: 18px;
  line-height: 1;
  color: $color-black;
  text-decoration: none;

  &:hover,
  &:focus,
  &:visited {
    color: $color-black;
    text-decoration: none;
  }
}


