body {
  background-color: $color-totalgrey;
}

.wrapper {
  position: relative;

  width: 1024px;
  height: 768px;
  margin: 0 auto;

  background-color: $color-snow;

  &--white {
    background-color: $color-white;
  }
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.left-pane {
  width: 62%;
  margin-top: 50px;
  padding: 0 15px;
}

.right-pane {
  width: 38%;
  padding-right: 30px;
}
