.header {
  padding: 20px 0;

  line-height: 30px;

  background-color: $base-background-color;
  border-bottom: $base-border;

  &--main {
    padding: 18px 0;
  }
}

.header__inner {
  @include flex-container($alignment: center);

  flex-wrap: nowrap;

  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.user {
  z-index: 5;

  padding-left: 10px;

  cursor: pointer;
}

.user__link {
  @include flex-container($spacing: flex-start, $alignment: center);

  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: $black;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:visited {
    color: $black;
    text-decoration: none;
  }
}

.user__avatar {
  width: 34px;
  height: 34px;

  border-radius: 50%;
  border: $base-border;
  margin-right: 10px;
}

.logo {
  @include flex-container($spacing: center);

  position: absolute;
  left: 0;

  width: 100%;
  margin-top: 4px;
}

.orders-button {
  z-index: 5;

  padding-right: 20px;

  cursor: pointer;
}

.orders-button__icon {
  width: 32px;
  height: 32px;
}

.menu {
  display: none;
}

.header__toggle {
  @include flex-container($alignment: center);

  position: absolute;
  top: 10px;

  padding: 10px 20px;

  color: $black;
  cursor: pointer;

  background: transparent;
  border: 0;
  border-radius: 4px;

  &::before {
    position: relative;
    top: 2px;

    margin-right: 10px;

    font-family: FontAwesome;
    font-size: 150%;

    content: "\f104";
  }
}

.header__link {
  padding-top: 8px;

  font-size: 18px;
  line-height: 1;
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus,
  &:visited {
    color: $black;
    text-decoration: none;
  }
}

.header__text {
  @include flex-container($spacing: center);

  width: 100%;
}

.header__title {
  margin: 0;

  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
}
