.header {
  padding: 20px 0;

  line-height: 30px;

  background-color: $base-background-color;
  border-bottom: $base-border;

  &--main {
    padding: 15px 0;
  }
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.user {
  z-index: 5;

  flex-grow: 1;
  padding-left: 10px;

  cursor: pointer;
}

.icon-user {
  /*display: inline-block;
  width: 30px;
  height: 30px;*/
  margin-right: 5px;

  line-height: 30px;
  color: $icon-gray;
  /*text-align: center;

  background-color: $white;
  border: 2px solid $icon-gray;
  border-radius: 15px;*/
}

.user__link {
  @include flex-container($spacing: flex-start, $alignment: center);

  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  color: $black;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:visited {
    color: $black;
    text-decoration: none;
  }

  img {
    border-radius: 50%;
    border: $base-border;
    margin-right: 10px;
  }
}

.logo {
  position: absolute;
  left: 0;

  display: flex;
  justify-content: center;
  width: 100%;
}

.logo__link {
  margin-top: 4px;
}

.menu {
  display: none;
}

.header__cancel {
  position: absolute;
  top: 9px;

  padding: 10px 20px;

  color: $black;
  cursor: pointer;

  background: transparent;
  border: 0;
  border-radius: 4px;

  &::before {
    position: relative;
    top: 2px;

    margin-right: 5px;

    font-family: FontAwesome;
    font-size: 150%;

    content: "\f104";
  }
}

.header__link {
  font-size: 18px;
  line-height: 1;
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus,
  &:visited {
    color: $black;
    text-decoration: none;
  }
}

.header__text {
  display: flex;
  justify-content: center;
  width: 100%;

  h1 {
    margin: 0;

    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
  }
}
