body {
  color: $black;

  background-color: $total-gray;
}

.wrapper {
  position: relative;

  width: 1024px;
  height: 768px;
  margin: 0 auto;

  background-color: $color-snow;

  &--white {
    background-color: $white;
  }
}

.page-content {
  @include flex-container($spacing: center, $alignment: flex-start);

  padding-top: 25px;
}

.content-wrapper {
  width: 80%;
  margin: 0 auto;

  background-color: transparent;

  &--comment {
    width: 60%;
  }
}

.table-wrapper {
  width: 92%;
  margin: 0 auto;

  background-color: transparent;
}

.main-container {
  @include flex-container();

  flex-wrap: nowrap;

  margin: 0;
  padding: 0;
}

.left-pane {
  width: 60%;
  margin-top: 60px;
  padding: 0 15px;
}

.right-pane {
  width: 40%;
  padding-right: 30px;
}
